#########################
# macOS & System Files
#########################
.DS_Store
.Spotlight-V100
.Trashes
.AppleDouble
._*

#########################
# R and RStudio
#########################
.Rhistory
.RData
.Ruserdata
.Rapp.history
.Rproj.user/
.Rproj.user/*
.Rproj.user/shared/notebooks/*
.Rproj.user/shared/notebooks/*
*.Rproj

# Packrat / renv directories (if using R for package management)
packrat/
renv/

# Compiled shared objects (common in R extensions)
*.so
*.dll

#########################
# Python
#########################

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Virtual environments
venv/
ENV/
env/
.venv/
.ipynb_checkpoints

# Spyder project settings
.spyproject

#########################
# Logs, Temp Files
#########################
*.log
*.out
*.tmp
*.temp
*.swp
*.swo
Thumbs.db


